<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/layout.css">
<title>NPC Creator</title>

<body>

    <div class="container">
        <div class="row mx-0">
            <div class="col px-0">
                <div class="header">
                    <h1>NPC Creator</h1>
                </div>
            </div>
        </div>
        <div class="content">
        <div class="row mx-0">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    </div>

</body>